@model ContactViewModel

<div>
    <form asp-action="Contact" asp-controller="Home" method="post">
        <input asp-for="UserName" />
        <input type="submit" value="Search" />
    </form>
</div>