@model MessageViewModel

<div>
    <form asp-controller="Home" asp-action="Message" method="post" enctype="multipart/form-data">
        <div>
            <textarea asp-for="Content">

            </textarea>
            <button type="submit">Send</button>
        </div>
        <input asp-for="Image" />
    </form>
</div>