@model MessageViewModel

<div>
    <form asp-controller="Home" asp-action="SendMessage" method="post">
        <input asp-for="Content"/>
        <input asp-for="Image" />
        <button type="submit">Submit</button>
    </form>
</div>