@model RegisterViewModel

<form asp-controller="Authorisation" asp-action="Register" class="login" enctype="multipart/form-data">
    <div>
        <label>E-mail</label>
        <input asp-for="Email"/>
    </div>

    <div>
        <label>Name</label>
        <input asp-for="Name"/>
    </div>

    <div>
        <label>Last name</label>
        <input asp-for="LastName"/>
    </div>

    <div>
        <label>Username</label>
        <input asp-for="UserName"/>
    </div>

    <div>
        <label>Profile Picture</label>
        <input asp-for="ProfilePicture" />
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password"/>
    </div>

    <div>
        <label>ConfirmPassword</label>
        <input asp-for="ConfirmPassword"/>
    </div>
    <input type="submit" value="Sign in" />
</form>